
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accuvend Receipt</title>

<style>
        @font-face {
            font-family: 'newfont';
            src: url('https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/PayPalSansBigRegular.ttf');

        }
        html {
            font-family: 'newfont', sans-serif;
            
        }
    </style>
</head>
<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
    style="max-width:670px;background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
    <tr>
        <td style="height:40px;">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding:1px; width: 100%">
            <div class="main-container" style="width: 100%; height:100%;">
                <div >

                    <div style=" height:30px; width:70px; margin-bottom: 30px; margin-left: 40px;">
                        <a href="https://accuvend.ng" title="logo" target="_blank">
                            <img width="70px" src="https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/accuvend-logo.png">

                    </div>
                    
                    <% if(transaction.disco === 'ABA'){  %>
                        <div>
                            <div style=" text-decoration:none !important; font-weight:100; text-align: left; margin-bottom: 10px; width: 20%;  color:#000000; font-size:x-small;  display:block; float:left; margin-left: 40px; ">
                                <span style="text-transform: uppercase;  padding-right: 10px;">Head Office </span><img width="30px" src="https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/ABA.png">
                              <p style="margin-bottom: 10px; "> Ground floor, 4 Madiana Close, off Dar-Es-Salam Street, off Aminu Kano Crescent, Wuse 2, Abuja 900288, Federal Capital Territory</p> 
                            
                            </div>
                        </div>
                    <%} else if (transaction.disco === 'ABUJA'){  %>
                        <div>
                            <div style=" text-decoration:none !important; font-weight:100; text-align: left; margin-bottom: 10px; width: 20%;  color:#000000; font-size:x-small;  display:block; float:left; margin-left: 40px; ">
                                <span style="text-transform: uppercase;  padding-right: 10px;">Head Office </span><img width="30px" src="https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/ABUJA.jpeg">
                            <p style="margin-bottom: 10px; "> Ground floor, 4 Madiana Close, off Dar-Es-Salam Street, off Aminu Kano Crescent, Wuse 2, Abuja 900288, Federal Capital Territory</p> 
                            
                            </div>
                        </div>
                        <% }  else if (transaction.disco === 'BENIN'){  %>
                            <div>
                                <div style=" text-decoration:none !important; font-weight:100; text-align: left; margin-bottom: 10px; width: 20%;  color:#000000; font-size:x-small;  display:block; float:left; margin-left: 40px; ">
                                    <span style="text-transform: uppercase;  padding-right: 10px;">Head Office </span><img width="30px" src="https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/BENIN.jpeg">
                                  <p style="margin-bottom: 10px; "> Ground floor, 4 Madiana Close, off Dar-Es-Salam Street, off Aminu Kano Crescent, Wuse 2, Abuja 900288, Federal Capital Territory</p> 
                                
                                </div>
                            </div>
                        <% }  else if (transaction.disco === 'EKO'){  %>
                            <div>
                                <div style=" text-decoration:none !important; font-weight:100; text-align: left; margin-bottom: 10px; width: 20%;  color:#000000; font-size:x-small;  display:block; float:left; margin-left: 40px; ">
                                    <span style="text-transform: uppercase;  padding-right: 10px;">Head Office </span><img width="30px" src="https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/EKO.jpeg">
                                  <p style="margin-bottom: 10px; "> Ground floor, 4 Madiana Close, off Dar-Es-Salam Street, off Aminu Kano Crescent, Wuse 2, Abuja 900288, Federal Capital Territory</p> 
                                
                                </div>
                            </div>
                        <% }  else if (transaction.disco === 'ENUGU'){  %>
                            <div>
                                <div style=" text-decoration:none !important; font-weight:100; text-align: left; margin-bottom: 10px; width: 20%;  color:#000000; font-size:x-small;  display:block; float:left; margin-left: 40px; ">
                                    <span style="text-transform: uppercase;  padding-right: 10px;">Head Office </span><img width="30px" src="https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/ENUGU.jpeg">
                                  <p style="margin-bottom: 10px; "> Ground floor, 4 Madiana Close, off Dar-Es-Salam Street, off Aminu Kano Crescent, Wuse 2, Abuja 900288, Federal Capital Territory</p> 
                                
                                </div>
                            </div>
                        <% }  else if (transaction.disco === 'IBADAN'){  %>
                            <div>
                                <div style=" text-decoration:none !important; font-weight:100; text-align: left; margin-bottom: 10px; width: 20%;  color:#000000; font-size:x-small;  display:block; float:left; margin-left: 40px; ">
                                    <span style="text-transform: uppercase;  padding-right: 10px;">Head Office </span><img width="30px" src="https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/IBADAN.jpeg">
                                  <p style="margin-bottom: 10px; "> Ground floor, 4 Madiana Close, off Dar-Es-Salam Street, off Aminu Kano Crescent, Wuse 2, Abuja 900288, Federal Capital Territory</p> 
                                
                                </div>
                            </div>
                        <% }  else if (transaction.disco === 'EKO'){  %>
                            <div>
                                <div style=" text-decoration:none !important; font-weight:100; text-align: left; margin-bottom: 10px; width: 20%;  color:#000000; font-size:x-small;  display:block; float:left; margin-left: 40px; ">
                                    <span style="text-transform: uppercase;  padding-right: 10px;">Head Office </span><img width="30px" src="https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/IKEJA.jpeg">
                                  <p style="margin-bottom: 10px; "> Ground floor, 4 Madiana Close, off Dar-Es-Salam Street, off Aminu Kano Crescent, Wuse 2, Abuja 900288, Federal Capital Territory</p> 
                                
                                </div>
                            </div>
                        <% } else if (transaction.disco === 'JOS'){  %>
                            <div>
                                <div style=" text-decoration:none !important; font-weight:100; text-align: left; margin-bottom: 10px; width: 20%;  color:#000000; font-size:x-small;  display:block; float:left; margin-left: 40px; ">
                                    <span style="text-transform: uppercase;  padding-right: 10px;">Head Office </span><img width="30px" src="https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/JOS.jpeg">
                                  <p style="margin-bottom: 10px; "> Ground floor, 4 Madiana Close, off Dar-Es-Salam Street, off Aminu Kano Crescent, Wuse 2, Abuja 900288, Federal Capital Territory</p> 
                                
                                </div>
                            </div>
                        <% }  else if (transaction.disco === 'KADUNA'){  %>
                            <div>
                                <div style=" text-decoration:none !important; font-weight:100; text-align: left; margin-bottom: 10px; width: 20%;  color:#000000; font-size:x-small;  display:block; float:left; margin-left: 40px; ">
                                    <span style="text-transform: uppercase;  padding-right: 10px;">Head Office </span><img width="30px" src="https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/KADUNA.jpeg">
                                  <p style="margin-bottom: 10px; "> Ground floor, 4 Madiana Close, off Dar-Es-Salam Street, off Aminu Kano Crescent, Wuse 2, Abuja 900288, Federal Capital Territory</p> 
                                
                                </div>
                            </div>
                        <% }  else if (transaction.disco === 'KANO'){  %>
                            <div>
                                <div style=" text-decoration:none !important; font-weight:100; text-align: left; margin-bottom: 10px; width: 20%;  color:#000000; font-size:x-small;  display:block; float:left; margin-left: 40px; ">
                                    <span style="text-transform: uppercase;  padding-right: 10px;">Head Office </span><img width="30px" src="https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/KANO.jpeg">
                                  <p style="margin-bottom: 10px; "> Ground floor, 4 Madiana Close, off Dar-Es-Salam Street, off Aminu Kano Crescent, Wuse 2, Abuja 900288, Federal Capital Territory</p> 
                                
                                </div>
                            </div>
                        <% }  else if (transaction.disco === 'PORTHARCOURT'){  %>
                            <div>
                                <div style=" text-decoration:none !important; font-weight:100; text-align: left; margin-bottom: 10px; width: 20%;  color:#000000; font-size:x-small;  display:block; float:left; margin-left: 40px; ">
                                    <span style="text-transform: uppercase;  padding-right: 10px;">Head Office </span><img width="30px" src="https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/PORTHARCOURT.jpeg">
                                  <p style="margin-bottom: 10px; "> Ground floor, 4 Madiana Close, off Dar-Es-Salam Street, off Aminu Kano Crescent, Wuse 2, Abuja 900288, Federal Capital Territory</p> 
                                
                                </div>
                            </div>
                        <% }  else if (transaction.disco === 'YOLA'){  %>
                            <div>
                                <div style=" text-decoration:none !important; font-weight:100; text-align: left; margin-bottom: 10px; width: 20%;  color:#000000; font-size:x-small;  display:block; float:left; margin-left: 40px; ">
                                    <span style="text-transform: uppercase;  padding-right: 10px;">Head Office </span><img width="30px" src="https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/YOLA.jpeg">
                                  <p style="margin-bottom: 10px; "> Ground floor, 4 Madiana Close, off Dar-Es-Salam Street, off Aminu Kano Crescent, Wuse 2, Abuja 900288, Federal Capital Territory</p> 
                                
                                </div>
                            </div>
                    <% }  else if (transaction.disco === 'IKEJA'){  %>
                        <div>
                            <div style=" text-decoration:none !important; font-weight:100; text-align: left; margin-bottom: 10px; width: 20%;  color:#000000; font-size:x-small;  display:block; float:left; margin-left: 40px; ">
                                <span style="text-transform: uppercase;  padding-right: 10px;">Head Office </span><img width="30px" src="https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/YOLA.jpeg">
                              <p style="margin-bottom: 10px; "> Ground floor, 4 Madiana Close, off Dar-Es-Salam Street, off Aminu Kano Crescent, Wuse 2, Abuja 900288, Federal Capital Territory</p> 
                            
                            </div>
                        </div>
                <% }  
                     else{ %>
                        <div></div>
                    <% } %>
                    





                    <div style="background:#C0EAFC;text-decoration:none !important; font-weight:100; margin-bottom: 10px;
                            color:#000000; font-size:x-small;  display:block; border-radius:5px; width:30% ; text-align: left; float:right; margin-right: 30px;">
                        
                        <div style="background:#80d0f2;text-decoration:none !important;  text-align: left;  font-weight:100; color:#000000; font-size:small; height: 45px; display:block; border-radius:5px; width:100%;  margin-right: 20px;  ">
                            <div style="padding-top:3px ;">
                            <span style="padding-left:15px; ">Meter Number</span>
                        </div>
                        <div >
                            <span style="padding-left:15px; font-size: medium; "><%= meterNumber %></span>
                            </div>
                        </div>
                        <p style="padding-left:15px;">Any question about this payment?</p>
                        
                        <p href='accuvend.ng' style="padding-left:15px ;">Click to See Your Order Confirmation</p>
        
                        <p style="padding-left:15px;">Accuvend.ng</p>
                        

                    </div>
             
                </div>
            </div>
        </td>
    </tr>

<%
  // Define the percentage to be subtracted (in this example, 10%)
  const percentageToRemove = 10;

  // Calculate the amount after subtracting the percentage
  const newAmount = transaction.amount - (transaction.amount * (percentageToRemove / 100)) - 100;
%>

<%
  const percentageCharge = 1.5;
  const chargeAmount = (transaction.amount * percentageCharge) / 100;
%>

    <tr>
        <td>
            <div style="text-decoration:none !important; font-weight:100; text-align: left;  padding-top: 10px;
            color:#000000; font-size:x-small;  display:block; border-radius:5px; width:30% ; float: left; margin-left: 40px; margin-bottom: 10px;">
                    <span style="font-size: medium; color: #80d0f2;"> Your Electricity Bill</span>
               
                <p><%=  transaction.transactionTimestamp.toString().split(` (`)[0] %></p>
            </div>

            <div  style="background:#f2f4f5;text-decoration:none !important; font-weight:100; text-align: left;  padding-top: 2px; color:#000000; font-size:x-small;  display:block; border-radius:5px; width:30% ; height: 50px; float: right; margin-right: 30px;">
            <div style="padding-top: 3px;">
            <span style="padding-left: 15px; font-size:x-small;">Date</span>
        </div >
        <div>
            <span style="padding-left: 15px; font-size: small;"><%=  transaction.transactionTimestamp.toString().split(` (`)[0]  %></span>
        </div>
            </div>

            <hr style=" width:90%; border:1px solid #a09c9c ">

            <div>
                <div  style="background:#CAE526;text-decoration:none !important; margin-top: 5px; font-weight:100; text-align: left;  padding-top: 2px; color:#000000; width: 30%; height: 60px; display:block; border-radius:5px;   float: right; margin-right: 30px;">
                    <div>
                    <span style="padding-left: 15px; font-size:small; width: 100%; padding-top:2px;">Token</span>
                </div>
                    <div>
                        <span style="padding-left: 15px; font-size: medium;"><%=  token %></span>
                    </div>
                    </div>


            <div style="text-align: left; margin-left: 35px; font-size: medium; color:#80d0f2;">
                <span>Your account</span>
                <hr style="margin-left:1px; width:47%; border:1px solid #f1ecec ">
            </div>

            
            
                
            <div style="text-align: left; margin-left: 35px; width:45%; font-size: small;">
                <span>Charges</span>
                <hr style=" margin-left: 1px;  border:1px solid #f1ecec ">
            </div>

            

            <div style=" font-size: x-small;  width:50%; ">
                <span style="text-align: left; margin-left: 35px; float: left;">Electricity Charges</span>
                <span style="text-align: left; float: right; ">&#8358;  <%= newAmount.toString().replace( /\B(?=(\d{3})+(?!\d))/g, "," ).toFixed(2)  %></span>
               
            </div>
            <hr style="margin-left: 35px; width:45%; border:1px solid #f1ecec ">

            <div style=" font-size: x-small; width: 50%;">
                <span style="text-align: left; margin-left: 35px; float: left;">VAT</span>
                <span style="text-align: left; float: right; ">&#8358; <%= chargeAmount.toString().replace( /\B(?=(\d{3})+(?!\d))/g, "," ).toFixed(2) %></span>
                
            </div>
            <hr style="margin-left: 35px; width: 45%; border:1px solid #f1ecec;  ">
            
            <div style=" font-size: x-small; width:50%; ">
                <span style="text-align: left; margin-left: 35px; float: left;">Service Charge</span>
                <span style="text-align: left; float: right;">&#8358; 100.00</span>
                
            </div>
            <hr style="margin-left: 35px; width: 45%; border:1px solid #f1ecec;  ">
            
            <div style=" font-size: medium; width: 50%;">
                <span style="text-align: left; margin-left: 35px; float: left;">Total Amount </span>
                <span style="text-align: left; float:right">&#8358; <%= transaction.amount.toString().replace( /\B(?=(\d{3})+(?!\d))/g, "," ).toFixed(2) %></span>
            </div>
        </div>
        </td>

    </tr>
    <tr>
        <td style="height:40px;">&nbsp;</td>
    </tr>
</table>
